<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automata Manager</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <header>
        <h1>Bem-vindo ao Automata Manager</h1>
        <p>Escolha o tipo de automato para começar:</p>
    </header>

    <main>
        <div class="options">
            <button class="button" onclick="window.location.href = window.location.href.replace(/\/[^\/]*$/, '/pda.html');"
            >Deterministic Finite Automaton</button>
        </div>
    </main>

</body>
</html>
